/*#f84713*/

body{
	
padding:0;
	
margin:0;
	
font-family: 'Open Sans', sans-serif;
   
}



h1,h2,h3,h4,h5,h6{
	
margin:0;			   
}	
p{
	margin:0;
}

hr{border-top: 1px solid #ddd; margin-top: 5px;}
/*-----start-header----*/
.active{background: #FF0000;}
.left{background: #666; padding-left: 0; padding-right: 0; text-align: center; height: 768px;}
.left a{color:#FF0000;padding: 25px 20px; display: block;}
.left a:hover{color:#fff; background: #f84713; text-decoration: none;}

.left p{ border-bottom: 1px solid #ccc;}

.left p .sub{position: absolute; opacity: 0; margin-left: 90px;background: #f84713; transition:.3s;}
.left p:hover .sub{opacity:1; margin-left: 110px;  }

.right{padding: 0;}

.top-bar{background: #f84713;  padding: 0px 15px; padding-top: 15px;}
.top-bar h3{color:#fff; font-family: 'Cooper';}

.search{width:300px; background:none; color:#fff; font-weight: bold; height: 40px; border: 0; border:1px solid #fff; padding-left: 7px;}
.srch{background: #fff; color:#f84713; border: 0; padding: 13px 10px; margin-left: 0;}

.banner{padding: 0; overflow: hidden;}
.banner1{padding: 0; overflow: hidden; height: 350px;}
.list{padding: 15px; }
.list img{width:100%;}

.list span{

	position: absolute; 
	background: #f84713; 
	color:#fff; 
	padding: 10px 15px; 
	margin-left: 25px;
	opacity: 0;
	transition:.5s;
}

.list .col-md-3:hover span{opacity: 1; margin-top: 100px;}

.mid-left{padding-top: 50px; padding-left: 40px;}

.mid-left p{color:#999; font-weight: bold; font-size: 24px;}
.mid-left p span{display:inline-block; 	border:1px solid #666; color:#333; cursor: pointer; font-size: 13px; font-weight: normal; padding: 3px 5px; margin-right: 10px;}
.mid-left p span label{cursor: pointer; font-weight: normal; }
.mid-left h1{ font-weight: bold; margin-top: 15px; margin-bottom: 15px;}

.mid-left .day{border: 0; margin-right: 20px; width:50px;}
.day:hover{color:#f84713;}
.days .active{color:#fff;}

.mid-right	h3 span{width:120px; display:inline-block;}
.mid-right	h3{font-size: 16px; line-height: 30px; font-weight: bold; color: #666;}


.mid-right{padding-top: 50px; padding-left: 40px;}
.mid-right h2{ font-weight: bold; margin-top: 15px; margin-bottom: 15px;}
.mid-right .col-md-6 div{
	background: #fff; 
	color:#f84713; text-align: center; 
	width: 170px;
	float:left;
	border: 2px solid #f84713;
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 25px;
	font-size: 24px;
	font-weight: bold;
	transition:.5s;
}

.mid-right .col-md-6 div:hover{
	background: #fff; 
	box-shadow: inset 0px 100px #f84713; 
	color:#fff;
}

.link{background: #fff; 
	border-radius: 0;
	color:#f84713;
	margin-left:10px;
}

.button{
	display:inline-block; 
	background: #f84713;
	 color:#fff; 
	 padding: 10px 25px; 
	 font-weight: bold; 
	 margin-top: 40px;
	 transition:.5s;
	 border:0;
}

.button span{ font-size: 18px; }

.button:visited{color:#fff;}
.button:hover{
	color:#fff; 
	text-decoration: none; 
	background: #a42905;
} 

.shade{ box-shadow: 2px 2px #fff;}
.shade1{ box-shadow: 2px 2px 3px #999;}

.detail{
	position: absolute;
	padding-top: 20px;
	padding-bottom: 57px;
	z-index: 1000;
	background: rgba(0,0,0,.7);
}

.detail h2{color:#fff; border-bottom: 1px solid #ccc; padding-bottom: 10px;}
.detail p{color:#fff; line-height: 25px; text-align: justify; margin-top: 15px;}
.detail span{width:100px; display: inline-block;}



.login{
	margin-top: 100px;
	border:1px solid #f84713;
	padding: 0;
	margin-bottom:63px;
}

.login .col-md-5{
	background: #f84713;
	color:#fff;
	padding:120px 15px;
}
.login input{width:100%; height: 40px; padding-left: 10px; margin-top: 10px;}
.over{background: rgba(0,0,0, .8); padding: 25px 15px; margin-top: -82px; color:#fff;}
.over span{border: 1px solid #fff; margin-right: 25px; padding: 5px 10px; border-radius: 15px; display: inline-block;}
.over a{background: #f84713; color:#fff; padding: 10px 15px;}

.seats{color: #888;}
.seats p{margin-bottom: 10px; font-size: 12px;}
.seats span{width:30px; color:#999;display: inline-block; font-weight: bold; }
.seats label{margin-right: 15px; cursor:pointer; font-size: 11px; border:1px solid #ccc; border-radius: 5px; display: inline-block; width:25px; text-align: center;}
.seats label:hover{background: #ccc;}

.seats input{display: none;}
.sel{background: #ccc;}

.checkout{ margin-top: 30px;}

.pay{padding: 25px 15px ; border:1px solid #ccc; box-shadow: 2px 2px 3px #ccc}
.pay h5{color:#f00; font-weight: normal; text-transform: uppercase; letter-spacing: 1px;}
.pay h4{letter-spacing: 1px; background:#f84713; color:#fff; padding: 10px; font-size: 15px; margin-top: 20px; margin-bottom: 20px;} 
.pay h4 span{width:230px;}
.pay span{display: inline-block; width:250px;}
.pay p{ margin-top: 20px;}
.pay input[type="submit"]{background: #0078ff; color:#fff; border: 0; width:100%; height: 40px;}
/*.modal-body{width:300px;}*/
.modal{height: 800px; }
.modal-body input{width:100%; height: 40px; padding-left: 10px; margin-top: 20px;}

.footer{
	margin-top: 50px;
	background: #333; 
	color:#fff; 
	text-align: center; 
	padding: 15px;
}




